{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [
            ">0.25%",
            "not dead"
          ]
        }
      }
    ], "@babel/preset-react"
  ],
  "plugins": [ "transform-class-properties","babel-plugin-istanbul" ]
}