/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

[data-theme='dark'] .footer--dark {
  background-color: var(--ifm-navbar-background-color);
  --ifm-footer-color: var(--ifm-navbar-link-color) !important;
  --ifm-footer-link-color: var(--ifm-navbar-link-color) !important;
  --ifm-footer-title-color: var(--ifm-navbar-link-color) !important;
}

[data-theme='dark'] {
  --ifm-color-primary: #25bec1;
  --ifm-color-primary-dark: #21abae;
  --ifm-color-primary-darker: #1fa1a4;
  --ifm-color-primary-darkest: #1a8587;
  --ifm-color-primary-light: #29d1d4;
  --ifm-color-primary-lighter: #31d4d8;
  --ifm-color-primary-lightest: #4edadd;
}