html {
    scroll-behavior: smooth;
}

.hightlight {
    background-color: var(--theme-ui-colors-info);
    text-align: center;
    border-radius: 10px;
    border: none;
    color: var(--theme-ui-colors-white);
    font-weight: bold;
}