html {
    scroll-behavior: smooth;
}

h3, h4, h5 {
    font-weight: normal !important;
}

.hightlight {
    background-color: var(--theme-ui-colors-info);
    text-align: center;
    border-radius: 10px;
    border: none;
    color: var(--theme-ui-colors-white);
    font-weight: bold;
    padding: 6px 0;
    font-size: 15px;
}